<!-- <p>authentication works!</p> -->
<main
  class="bg-[#0f172a] min-h-screen flex flex-col justify-center items-center"
>
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
    <!-- Tabs -->
    <div class="flex justify-around mb-6">
      <button
        (click)="showLoginForm()"
        [ngClass]="{
          'border-b-2 border-[#fbbf24] text-[#0f172a] font-bold': isLogin,
          'text-gray-500': !isLogin
        }"
        class="w-1/2 py-2"
      >
        Login
      </button>
      <button
        (click)="showRegisterForm()"
        [ngClass]="{
          'border-b-2 border-[#fbbf24] text-[#0f172a] font-bold': !isLogin,
          'text-gray-500': isLogin
        }"
        class="w-1/2 py-2"
      >
        Register
      </button>
    </div>

    <!-- Forms -->
    @if (isLogin) {
    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border-[#fbbf24] focus:outline-none focus:shadow-outline"
          type="email"
          required
          formControlName="email"
          placeholder="Enter Email"
        />
        @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid)
        {
        <small class="text-red-500 font-bold">
          @if (loginForm.get('email')?.errors?.['required']) { Enter Email } @if
          (loginForm.get('email')?.errors?.['email']) { Enter valid email }
        </small>
        }
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2"
          >Password</label
        >
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight border-[#fbbf24] focus:outline-none focus:shadow-outline"
          type="password"
          required
          formControlName="password"
          placeholder="Enter your password"
        />
        @if (loginForm.get('password')?.touched &&
        loginForm.get('password')?.invalid) {
        <div>
          <small class="text-red-500 font-bold">
            @if (loginForm.get('password')?.errors?.['required']) { Input
            password } @if (loginForm.get('password')?.errors?.['minlength']) {
            Too short, at least 6 characters }
          </small>
        </div>
        }
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-[#0f172a] hover:bg-[#1e293b] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Sign In
        </button>
        <a
          class="inline-block align-baseline font-bold text-sm text-[#0f172a] hover:text-[#1e293b]"
          href="#"
        >
          Forgot Password?
        </a>
      </div>
    </form>
    } @else {
    <!-- Register Form -->
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Name</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border-[#fbbf24] focus:outline-none focus:shadow-outline"
          type="text"
          required
          formControlName="name"
          placeholder="Enter Name"
        />
        @if (registerForm.get('name')?.touched &&
        registerForm.get('name')?.invalid) {
        <small class="text-red-500 font-bold">
          @if (registerForm.get('name')?.errors?.['required']) { Enter Name }
        </small>
        }
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border-[#fbbf24] focus:outline-none focus:shadow-outline"
          type="email"
          required
          formControlName="email"
          placeholder="Enter your email"
        />
        @if (registerForm.get('email')?.touched &&
        registerForm.get('email')?.invalid) {
        <div class="error-message">
          <small class="text-red-500 font-bold">
            @if (registerForm.get('email')?.errors?.['required']) { Input Email
            } @if (registerForm.get('email')?.errors?.['email']) { Enter valid
            email }
          </small>
        </div>
        }
      </div>
      <div class="mb-4">
        <label for="" class="block text-gray-700 text-sm font-bold">City</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border-[#fbbf24] focus:outline-none focus:shadow-outline"
          type="text"
          required
          formControlName="city"
          placeholder="Enter your city"
        />
        @if (registerForm.get('city')?.touched &&
        registerForm.get('city')?.invalid) {
        <div class="error-message">
          <small class="text-red-500 font-bold">
            @if (registerForm.get('city')?.errors?.['required']) { Enter City }
            @if (registerForm.get('city')?.errors?.['city']) { Enter City}
          </small>
        </div>
        }
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2"
          >Address</label
        >
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border-[#fbbf24] focus:outline-none focus:shadow-outline"
          type="text"
          required
          formControlName="address"
          placeholder="Enter your address"
        />@if (registerForm.get('address')?.touched &&
        registerForm.get('address')?.invalid) {
        <div class="error-message">
          <small class="text-red-500 font-bold">
            @if (registerForm.get('address')?.errors?.['required']) { Enter
            Address }
          </small>
        </div>
        }
      </div>
      <div class="flex gap-4 mb-4">
        <div>
          <label for="" class="block text-gray-700 text-sm font-bold mb-2"
            >Mobile Number</label
          >
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border-[#fbbf24] focus:outline-none focus:shadow-outline"
            type="text"
            required
            formControlName="mobileNo"
            placeholder="Enter your mobile number"
          />@if (registerForm.get('mobileNo')?.touched &&
          registerForm.get('mobileNo')?.invalid) {
          <small class="text-red-500 font-bold">
            @if (registerForm.get('mobileNo')?.errors?.['required']) { Enter
            Mobile Number } @if
            (registerForm.get('mobileNo')?.errors?.['pattern']) { Enter valid
            number }
          </small>
          }
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2"
            >Password</label
          >
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight border-[#fbbf24] focus:outline-none focus:shadow-outline"
            type="password"
            required
            formControlName="password"
            placeholder="Create a password"
          />
          @if (registerForm.get('password')?.touched &&
          registerForm.get('password')?.invalid) {
          <small class="text-red-500 font-bold">
            @if (registerForm.get('password')?.errors?.['required']) { Enter
            password } @if (registerForm.get('password')?.errors?.['minlength'])
            { At least 6 characters }
          </small>
          }
        </div>
      </div>
      <button
        class="w-full bg-[#0f172a] hover:bg-[#1e293b] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Register
      </button>
    </form>
    }
  </div>
</main>
